//fonts
$codecPro: "Codec Pro", "Arial", sans-serif;

//colors
$base0: #FCFCFC;
$base50: #F3F4F7;
$base200: #99A7B5;
$base300: #677b8f;
$base500: #012345;
$base600: #011C37;

$main400: #4959FF;

$secondary400: #F84AB3;